.cards-container {
    max-height: 70vh;
    overflow-y: auto;
}

.tab-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.section-card {
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: var(--slds-g-spacing-2);
}

.empty-state {
    border-radius: 8px;
}
